*{
    margin: 0;
    padding: 0;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.fixd-width{
width: 1270px;
margin: auto;
}
body{
    font-family: - 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* menu-start */
.menu{
    background: #548fd1;
}
.logo{
    float: left;
    color: #fff;
    margin-left: 85px;
    line-height: 65px;
}
.menu1 ul{
    text-align: right;
}
.menu1 ul li{
    display: inline-block;
    margin-left: -5px;
    position: relative;
}
.menu1 ul li a{
    text-decoration: none;
    color: #fff;
    display:inline-block;
   padding: 0px 20px;
   line-height: 65px;
   transition: .5s;
   font-size: 13px;
}
.menu1 ul li:hover > a{
    background: #052e5e;
}
/* dropdown-menu */
.menu1 ul li ul{
    position: absolute;
    
}
.menu1 ul li ul li{
    display: inline-block;
    background: #548fd1;
    width:100%;
   
}
.menu1 ul li ul li:first-child{
    border-top: 2px solid rgb(80, 123, 241);
}
.menu1 ul li ul li a{
    padding: 30px;
    line-height: 10px;
    display: block;
    
}
.menu1 ul li ul{
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: .5s;
    transform-origin: top;
}
.menu1 ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    background:url() ;
}


/* menu-end */
/* start-banner */
.bannar{
    background: url(./img/Screenshot_4.png),
    linear-gradient(rgba(55, 230, 194),rgba(55, 230, 194));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;

}
.bannar h1{
    color: #fff;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 700;
}
.bannar h4{
    color: #c9f1e8;
    margin-bottom: 25px;
    font-size: 22px;
}
.bannar h3{
    color:#c9f1e8 ;
    margin-top: 40px;
    border: 2px solid #c9f1e8;
    width: 150px;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    transition: .5s;
}
.bannar h3:hover{
    background: rgb(113, 187, 113);
    color: #fff;
}
/* end-bannar */
/* start-service */
.service{
    padding: 70px;
    color: #5adbc1;
}
.service2 h2{
    color: #666666;
}
.service2 p{
    color: #787d81;
}
.service p{
    margin-top: 20px;
    color: #87d4c5;
}
.service2{
    padding: 65px 15px;
}
.service2 i{
    color: #0dbf9b;
    font-size: 40px;

}
.service2 h2{
    margin: 15px 0px
    ;
}
.service2 .div1{
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.service2 .div2{
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.service2 .div3{
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.service2 .div4{
    float: left;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
/* end service */
/* start-about */
.about{
    padding: 70px;
    border-top: 2px solid #0dbf9b;
}
.about h1{
    padding: 25px;
    color: #555555;
}
.about p{
    color: #7b7b8a;
}
.tab{
    padding-top: 15px;
    padding-bottom: 20px;
}
.tab .tab1{
    float: left;
    width: 40%;
}
.tab .tab1 img {
	width: 455px;
	height: auto;
	margin-left: 50px;
}
.tab .tab2 {
	width: 60%;
	float: right;
	padding: 0px 10px;
	box-sizing: border-box;
}
.tab .tab2 p{
    color: #7e7676;
    
}
.tab .tab2 h2{
   padding:10px 0px ;
    color: #666666;
}
/* end-about */
/* start-contact */
.contact{
    background: #f6f6f6;
    padding: 40px 40px;
    height: 255px;
}
.contact h2{
    padding: 50px 0px;
    color: #555555;
}
.contact p{
    color: #777777;
}
.contact i{
    padding: 15px;
    color: #0dbf9b;
}
.contact .location{
    float: left;
    width: 33.3%;
}
.contact .email{
    float: left;
    width: 33.3%;
}
.contact .call{
    float: left;
    width: 33.3%;
}
/* end-contact */
/* footer */
.footer{
    background: #0dbf9b;
  
}
.footer ul li{
    display: inline-block;
    color: #fff;
    padding: 17px;
    font-size: 15px;
}
.copy{
    background: #000;
    color: rgb(185, 179, 179);
    padding: 10px;
    font-size: 10px;
}